html {
    overflow:hidden;
}

body { /* Makes canvas fullscreen */
	margin: 0;
	top: 0;
	overflow: hidden;
    background-color: #DFDFDF;
    background-image: url("http://entropymag.org/wp-content/uploads/2014/10/outer-space-wallpaper-pictures.jpg");
    text-align: center;
}

.menuItem {
    width: 250px;
    height: 100px;
    color: white;
    background-color: #222222;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 4px solid #BBBBBB;
    border-radius: 3px;
    cursor:pointer;
    /* Prevent highlight */
    -webkit-user-select: none;
    -moz-user-select: none;
}
.menuItem:hover {
    background-color: #111111;
}
.menuItem:active {
    color: #AAAAAA;
}

.menuText {
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-family: 'Ubuntu';
}

canvas {
    background-color: #BCBCBC;
    display: block;
}

.textContainer {
	position: absolute;
	overflow: visible;
	z-index: 1;
	left: 10%;
    top: 60%;
	background-color: #000000;
	border: 6px solid #FFFFFF;
    height: 30%;
    width: 80%;
    text-align: left;
	color: white;
	font-family: 'Ubuntu';
}

.querybox {
    font-family: 'Finger Paint';
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
    text-align: center;
	height: 30%;
	width: 30%;
	border: 3px solid #FFFFFF;
}

.textContainer p {
    font-size: 18px;
    margin: none;
    cursor: pointer;
	clear: both;
	float: left;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.dialogueOption {
    margin-top: 2px;
    margin-bottom: 2px;
}
.dialogueOption:hover {
	color: #00FF00;
}
