canvas {
	margin: 0;
	top: 0;
	overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
	background-color: #DFDFDF;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
    position: relative;
}

canvas {
    background-color: #BCBCBC;
    display: block;
}

.popup {
	position: absolute;
    top: 65%;
	background-color: #000000;
	border: 6px solid #FFFFFF;
	overflow: hidden;
    height: 30%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

.textContainer {
	width: 100%;
	height: 100%;
}

.querybox {
	height: 30%;
	width: 30%;
	border: 3px solid #FFFFFF;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: .5%;
    color: ghostwhite;
    font-family: 'Finger Paint'
}

.dialogueOption {
	cursor: pointer;
	clear: both;
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
    color: ghostwhite;
    font-family: 'Ubuntu'
}
.dialogueOption:hover {
	color: #00FF00;
}
